body {
    color: #111111;
    background-color: lightblue;
    overflow-x: hidden;
}

/*This media query changes the background color of the web page if the screen is 740 pixels or smaller*/
@media screen and (max-width: 740px) {
    body {
      background-color: lightpink;
    }
  }

#subscribe_btn {
  padding: 10px;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #0499aa;
  color: white;
  border-radius: 5px;
  font-family: "Audiowide", serif;
  margin: 0 auto; /* Center the button */
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto 500px;
  grid-column-gap: 10px; /* Add gap between columns */
  grid-row-gap: 10px; /* Add gap between rows */
}
.header {
  grid-area: 1 / 1 / 2 / 5;
  border: black solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
}
.topnav {
  grid-area: 2 / 1 / 3 / 5;
  border: black solid;
  border-radius: 15px;

  font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
}
.div2 {
  grid-area: 3 / 1 / 5 / 2;
  border: black solid;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
}
.div3 {
  grid-area: 3 / 2 / 5 / 5;
  border: black solid;
  border-radius: 15px;
  text-align: center;
  font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
}
.div4 {
  grid-area: 5 / 1 / 6 / 5;
  border: black solid;
  border-radius: 15px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 30px;
  font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
}

.div4 h2, .div4 button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #0499aa;
    color: black;
  }





  

/*!LIGHTBOX THING!*/
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Ensure images fit within their containers */
.column img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* Adjust the modal images */
.modal-content img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}






/* VARIOUS FONTS */
.audiowide-regular {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
}

.abel-regular {
  font-family: "Abel", serif;
  font-weight: 400;
  font-style: normal;
}

.tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}

.tinos-regular-italic {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
}

.tinos-bold-italic {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
}







